html, body {
    max-width: 100%;
    padding: 0;
    margin: 0;    
}

/* Global outline of site */

.container {
    margin: 0 auto;
    padding: 5rem;
}

section.page {
    height: 90vh;
}

section.pastel-blue {
    background-color: #99cccc;
    color: white;
}

section.pastel-red {
    background-color: #ff6666;
    color: white;
}

section.pastel-white {
    background-color: #fdfdfd;
    color: #424446; 
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,fefcea+84,ffff90+100 */
    }

section.pastel-yellow {
    background-color: #fdfdfd;
    color: #424446; 
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,fefcea+84,ffff90+100 */
    background: rgb(254,252,234); /* Old browsers */
    background: -moz-linear-gradient(180deg, rgba(254,252,234,1) 0%, rgba(254,252,234,1) 84%, rgba(255,255,144,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(180deg, rgba(254,252,234,1) 0%,rgba(254,252,234,1) 84%,rgba(255,255,144,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(180deg, rgba(254,252,234,1) 0%,rgba(254,252,234,1) 84%,rgba(255,255,144,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#ffff90',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

section.together {
    background: url("../img/together.jpg");        
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.church {
    background: url("../img/church.jpg");        
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15em;;
}

section.signpost {
    background: url("../img/signpost.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    padding: 1em;
    background-color: #8f8f8f;
    color: white;
    display: flex;       
    margin-bottom: 50px;    
}
footer div.column {
    flex: 1;
}
footer a {
    text-decoration: italic;
    color: #f4f4f4;
}

nav {
    z-index: 100;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #ff6666;
    color: white;
}

nav>div {
    flex: 1;
}
nav>a {
    display: block;
    flex:1;    
    height: 100%;
    text-align: center;
    padding: 1em;
    cursor: pointer;
}

nav>a>span {
    border: 1px;
    border-color: white;
    border-bottom: solid;
    border-top: solid;
    
}
nav>a:hover {
    background: #ff5555;
    
}

/* start postit */
div.postit {
    background-color: #ffff66;
    position: relative;
    width: 100px;
    height: 100px;
    padding: 0.5em;    
    overflow: hidden;
    margin: 1em;

    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
div.postit.r1 {
    -webkit-transform:rotate(-6deg);
    -o-transform:rotate(-6deg);
    -moz-transform:rotate(-6deg);
}

div.postit.r2 {
    -webkit-transform:rotate(4deg);
    -o-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
}

div.postit.r3 {
    -webkit-transform:rotate(2deg);
    -o-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
}


div.postit.medium {
    width: fit-content;
    height: 200px!important;
}
div.postit.large {
    width: 400px;
    height: 400px;
}

div.postit img {
    width: 100%;
    height: 100%;
}

/* Start finer details */
h1.main {
    font-family: 'Lora', serif;
    font-size: 4em;
    color: white;
    position: relative;
}

h1.main.black {
    color: black;
}

h1.main span.sub {
    margin-top: 0;
    font-family: 'Lora', serif;
    font-size: 0.5em;    
}

h1.main span.sub.black {
    color: black;
}

.container p {    
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3em;
}

.testbutton {
    position: relative;
    text-decoration: none;
    z-index: 1;
    padding: 20px;
    margin: 10px;
    background: #81cc5e;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    border: 2px dashed #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #81cc5e, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);    
    font-weight: normal;

    width: 100%;
}

.testbutton:hover {
    background: #71bb4f;
    position: relative;    
    left: 2px;
    top: 1px;
    box-shadow: 0 0 0 4px #71bb4f;
}

.triangle::before {
    z-index: 0;
    background: linear-gradient(45deg, #fdfdfd 16px, transparent 0), linear-gradient(-45deg, #fdfdfd 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: relative;
    top: -32px;
    left: 0px;
    width: 100%;
    height: 32px;
}


@media only screen and (max-width: 900px) {
    h1.main {
        margin: 0 auto;
        left: 0;
        top: 1rem;
    }

    .hide-small {
        display: none;
    }

    .container {
        padding: 1px;
        margin: 0;
    }

    .container p {
        font-size: 1em;
    }

    h1.main {
        font-size: 2em;
    }
}